<footer class="bg-transparent border-t dark:bg-gray-800 shadow-lg py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <!-- Copyright -->
      <p
        class="text-gray dark:text-gray-300 text-center md:text-left mb-4 md:mb-0"
      >
        © 2025 Dilano.Dev, All Rights Reserved
      </p>

      <!-- Social Links -->
      <div class="flex space-x-4">
        <a
          href="https://linkedin.com/in/dilane-tchinda"
          target="_blank"
          class="text-gray hover:text-blue transition-colors duration-300"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a
          href="https://github.com/dilane-tchinda"
          target="_blank"
          class="text-gray hover:text-black dark:hover:text-white transition-colors duration-300"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://youtube.com/@dilano.dev"
          target="_blank"
          class="text-gray hover:text-red-600 transition-colors duration-300"
        >
          <i class="fab fa-youtube"></i>
        </a>
        <a
          href="https://facebook.com/dilane.tchinda"
          target="_blank"
          class="text-gray hover:text-blue-600 transition-colors duration-300"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
