<!-- app.component.html -->
<!-- Loading Screen -->
<div
  *ngIf="isLoading"
  class="fixed inset-0 flex items-center justify-center bg-white dark:bg-black z-50"
>
  <div class="text-center">
    <img
      src="assets/images/logo/logo.png"
      alt="Dilano.Dev Logo"
      class="mx-auto h-16 mb-6 animate-bounce"
    />
  </div>
</div>

<!-- Main Content -->
<div class="min-h-screen flex flex-col">
  <div
    class="absolute w-80 h-56 rounded-full bg-purple bg-opacity-50 top-10 right-20 filter blur-3xl dark:opacity-20 z-0"
  ></div>
  <app-header></app-header>

  <main class="flex-grow">
    <app-about></app-about>
    <app-services></app-services>
    <app-experience></app-experience>
    <app-portfolio></app-portfolio>
    <app-testimonial></app-testimonial>
    <app-contact></app-contact>
  </main>

  <app-footer></app-footer>

  <!-- Scroll To Top Button -->
  <button
    *ngIf="!isLoading"
    class="fixed bottom-8 right-8 w-12 h-12 rounded-full bg-orange text-white shadow-lg flex items-center justify-center hover:bg-white hover:text-orange border border-transparent hover:border-orange transition-all duration-300 z-10"
    onclick="window.scrollTo({top: 0, behavior: 'smooth'})"
  >
    <i class="fas fa-arrow-up"></i>
  </button>
</div>
